/* Limita a descrição a 2 linhas e adiciona "..." no final */
.descricao-publicidade {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 40px; /* Garante uma altura mínima para o alinhamento */
}

/* Garante que a imagem do card não fique distorcida */
.imagem-publicidade {
    object-fit: cover;
}